* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    padding-top: 8.3vh;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #080F28;
}

header {
    position: fixed;
    z-index: 20;
    background-color: #182161;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    width: 100%;
    margin-top: -1%;
    height: 10vh;
}

#logo img {
    height: auto;
    width: 5vw;
    background-color: #182161;
    color: #FFFFFF;
}

#flex-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
}

#logo {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-left: 70px;
    border-color: #424242;
}

h1 {
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li {
    display: flex;
    justify-items: center;
    flex-direction: row;
    text-decoration: none;
    padding: 1vw;
    font-size: 2.4vh;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

/*#contacto{
    background-color: rgb(240, 59, 59);
    border-radius: 0%;
    color: white;
}*/
ul li:hover {
    background-color: rgb(240, 59, 59);
    transition-duration: 1s;
    border-radius: 5px;
}

#search {
    width: 30px;
    height: 30px;
    background-color: #182161;
    color: #FFF;
    border: none;
    font-size: 0.9em;
    float: left;
    padding-left: 20px;
    -webkit-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
}

.lupa {
    border-radius: 50%;
    padding: 9px;
    padding-left: 11px;
    padding-right: 11px;
    color: #FFF;
    background-color: rgb(255, 81, 81);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*eventos*/
#search:focus,
#search:active {
    outline: none;
    width: 400px;
    padding-right: 20px;
}

.container:hover #search {
    width: 200px;
    margin-left: 2px;
    background-color: #2B3BAD;
    border-radius: 5px;
}

.container:hover .lupa {
    color: #424242;
}

/*placeholder*/
::-webkit-input-placeholder {
    color: rgb(156, 35, 35);
}

:-moz-placeholder {
    color: rgb(99, 24, 238);
}

::-moz-placeholder {
    color: #CCC;
}

:-ms-input-placeholder {
    color: #CCC;
}


.pelicula-principal {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    width: 102%;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(posters/backdrop1.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
    margin-left: -1vw;
    margin-top: -0.1vw;
}

.pelicula-principal .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
    padding-left: 1em;
}

.pelicula-principal .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
    margin-left: 2em;
}

.pelicula-principal .boton {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 1.12em;
    margin-left: 2em;
}

.pelicula-principal .boton:hover {
    background: #fff;
    color: #000;
}

.pelicula-principal .boton i {
    margin-right: 1.25em;
}

main {
    margin: 1vw;
}

.contenedor-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    width: 70vw;
    background-color: #080F28;
    grid-template-columns: repeat(auto-fit, minmax(180px, 0.5fr));
    grid-gap: 35px;
    margin: 2rem;
}

.item-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #FFF;
    cursor: pointer;
}

.item-grid p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    height: 100px;
}

.item-grid img {
    height: 300px;
    width: 100px;
    border-radius: 5px;
    border: white;
    border-style: double;
    width: 100%;
    
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    color: #FFFFFF;
    background-color: #0A3871;
    text-decoration: none;
    position: relative;
    left: 0px;
    bottom: 0px;
    font-size: 2vh;
}

footer a {
    text-decoration: none;
    color: #BE3144;

}
a{
    text-decoration: none;
}
a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
footer a:visited {
    color: #BE3144;
    text-decoration: none;
}

#leyenda-footer {
    margin-right: 10vw;
}

#iconos-footer {
    font-size: 3vh;
}

@media (max-width: 1024px) {
    body {
        background-color: #080F28;
    }
    .grid-container {
        display: grid;
        width: 80vw;
        background-color: #080F28;
        grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
        grid-gap: 10px;
        margin: 2rem;
    }
}

@media (max-width: 768px) {
    body {
        background-color: #080F28;
    }
    .grid-container {
        display: grid;
        width: 100vw;
        background-color: #080F28;
        grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
        grid-gap: 10px;
        margin: 2rem;
    }

}

/*----------------*/

/*Efecto*/
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 10vh;
    right: 0;
    bottom: 0;
    left: -1px;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox{
    width: 100vw;
    height: 100vw;
    position: relative;
    padding: 5px 20px 13px 20px;
    background:none;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}

/*Movimientos*/
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width: 0;
    height:0;
 
}
.modalmask:target .movedown{       
    margin:10% auto;
}
.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
 
.modalmask:target .resize{
    width: 80vw;
    height:60vh;
}

/*Boton de cerrar*/
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -4vw;
    text-align: center;
    top: -5vh;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}

